*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/inspectionProfiles/Project_Default.xml
.idea/
/.idea/
/gradle/wrapper/gradle-wrapper.properties
ImageSelect.zip
